on post-fs

    mkdir /data/misc/wifi/sockets 0770 wifi wifi    
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    mkdir /data/local 0777 radio shell
    mkdir /data/local/tmp 0777 radio shell
    chown radio shell /data/local
    chown radio shell /data/local/tmp
   
on boot
    
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto
    
    chmod 0666 /dev/accel
    chmod 0666 /dev/akm8973_aot
    chmod 0666 /dev/akm8975_dev
    chmod 0666 /dev/light
    chmod 0666 /dev/proximity
    
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 600000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 30720
    #write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

    # Increase read throughput from sd card
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048
        
    chmod 0777 /sys/kernel/logger/log_events/enable
    chmod 0777 /sys/kernel/logger/log_main/enable
    chmod 0777 /sys/kernel/logger/log_main/priority
    chmod 0777 /sys/kernel/logger/log_radio/enable
    chmod 0777 /sys/kernel/logger/log_radio/priority

    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling

    chmod 0667 /dev/graphics/fb0

service qmuxd /system/bin/qmuxd

service hciattach /system/bin/brcm_patchram_plus \
	--enable_hci --enable_lpm --baudrate 3000000 \
	--patchram /system/etc/bluetooth/BCM4329.hcd \
	/dev/ttyHS0
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c /data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 660 wifi wifi
    group system wifi inet dhcp
    disabled
    oneshot 

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -d eth0
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_eth0
    
service oem_rpc_svc /system/bin/oem_rpc_svc
    oneshot
    disabled

service akmd /system/bin/akmd2 
    user compass
    group compass misc input
    disabled

service akm8975 /system/bin/akmd8975
    user compass
    group compass misc input
    disabled

service akm8962 /system/bin/akmd8962
    user compass
    group compass misc input
    disabled

# bugreport is triggered by the KEY_VOLUMEUP and KEY_CENTER keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 232
