on boot

service huawei_tether /system/bin/sh /system/bin/huawei_tether
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.usb.config=mass_storage
    start huawei_tether
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb,mass_storage
    start huawei_tether
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    start huawei_tether
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    ifup usb0
    start huawei_tether
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    ifup usb0
    start huawei_tether
    setprop sys.usb.state $sys.usb.config

