on post-fs

    mkdir /data/misc/wifi/sockets 0770 wifi wifi    
    mkdir /data/misc/dhcp 0770 dhcp dhcp
   
on boot

# temporary hack to prevent framebuffer flicker
write /sys/class/graphics/fb0/state 1

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto

    # Increase read throughput from sd card
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048

    chmod 0777 /sys/kernel/logger/log_events/enable
    chmod 0777 /sys/kernel/logger/log_main/enable
    chmod 0777 /sys/kernel/logger/log_main/priority
    chmod 0777 /sys/kernel/logger/log_radio/enable
    chmod 0777 /sys/kernel/logger/log_radio/priority

    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling

service qmuxd /system/bin/qmuxd
    class main

service hciattach /system/bin/brcm_patchram_plus \
	--enable_hci --enable_lpm --baudrate 3000000 \
	--patchram /system/etc/bluetooth/BCM4329.hcd \
	/dev/ttyHS0
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c /data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_eth0 dgram 660 wifi wifi
    group system wifi inet dhcp
    disabled
    oneshot 

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service akmd /system/bin/akmd2
    class main
    user compass
    group compass misc input
    disabled

service akm8975 /system/bin/akmd8975
    class main
    user compass
    group compass misc input
    disabled

service akm8962 /system/bin/akmd8962
    class main
    user compass
    group compass misc input
    disabled

# bugreport is triggered by the KEY_VOLUMEUP and KEY_CENTER keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 232
