on post-fs

    mkdir /data/misc/wifi/sockets 0770 wifi wifi    
    mkdir /data/misc/dhcp 0770 dhcp dhcp
   
on boot

    import /system/etc/init.u8160parts.rc

    setprop ro.bt.bdaddr_path /data/misc/bluetooth/bdaddr
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto

    # Increase read throughput from sd card
    write /sys/block/mmcblk0/bdi/read_ahead_kb 256

    # Enable KSM (Kernel SamePage Mapping)
    write /sys/kernel/mm/ksm/sleep_millisecs 4000
    write /sys/kernel/mm/ksm/pages_to_scan 128
    write /sys/kernel/mm/ksm/run 0

    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling

service qmuxd /system/bin/qmuxd

service hciattach /system/bin/huawei_brcm_patchram_plus \
	--enable_hci --enable_lpm --baudrate 3000000 \
	--patchram /system/etc/bluetooth/BCM4329.hcd \
	--scopcm=0,0,0,0,0,0,4,0,0,0 \
	/dev/ttyHS0
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -W -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet dhcp
    disabled
    oneshot 

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service akmd /system/bin/akmd2 
    user compass
    group compass misc input
    disabled

service akm8975 /system/bin/akmd8975
    user compass
    group compass misc input
    disabled

service akm8962 /system/bin/akmd8962
    user compass
    group compass misc input
    disabled

# bugreport is triggered by the KEY_VOLUMEUP and KEY_CENTER keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 232
