/dev/accel		0640		compass		system
/dev/akm8973_aot	0640		compass		system
/dev/akm8975_dev	0640		compass		system
/dev/graphics/fb0	0667		system		system
/dev/light		0640		system		system
/dev/proximity		0640		system		system

