/dev/accel		0640		compass		system
/dev/akm8975_dev	0640		compass		system
/dev/cpu_dma_latency	0660		system		system
/dev/graphics/fb0	0666		system		graphics
/dev/i2c-0		0660		root		system
/dev/i2c-1		0660		root		system
/dev/light		0640		system		system
/dev/msm_amrnb		0660		system		audio
/dev/msm_amrnb_in	0660		system		audio
/dev/msm_amrwb		0660		system		audio
/dev/msm_evrc		0660		system		audio
/dev/msm_pcm_dec	0660		system		audio
/dev/msm_preproc_ctl	0660		system		audio
/dev/msm_qcelp		0660		system		audio
/dev/msm_voicememo	0660		system		audio
/dev/msm_wma		0660		system		audio
/dev/msm_wmapro		0660		system		audio
/dev/pmem_audio		0660		system		audio
/dev/proximity		0640		compass		system
/dev/rtc0		0660		system		radio
/dev/rtc1		0660		system		radio
/dev/smd0		0660		radio		radio
/dev/smd21		0660		radio		radio
/dev/smd22		0660		radio		radio
/dev/smd27		0660		radio		radio
/dev/smd36		0660		radio		radio
/dev/smd7		0660		radio		radio
/dev/smdcntl0		0640		radio		radio
/dev/smdcntl1		0640		radio		radio
/dev/smdcntl2		0640		radio		radio
/dev/smd_pkt_loopback	0660		radio		radio
/dev/video20		0660		system		camera

